header {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  color: #fff;
  min-height: 100px;
  padding-top: 25px;
}
header form {
  float: right;
}
header .logo {
  float: left;
}

.panel-heading {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  color: #fff !important;
}

.bubble {
  position: relative;
  width: 580px;
  min-height: 65px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left: -15px;
  top: 50%;
}
.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -15px;
  left: -16px;
  top: 50%;
}

.post-actions {
  margin: 5px;
}

.comment-form .form-group {
  width: 90%;
}
.comment-form input[type='text'] {
  width: 100%;
}
.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
  overflow: auto;
  width: 100%;
}

.comment-avatar img {
  width: 40px;
  margin-right: 5px;
}

.friends ul li {
  list-style: none;
  padding: 0 5px;
  display: inline; 
  float: left;
}
.friends ul li img {
  width: 55px;
}

.groups img {
  width: 80px;
  float: left;
  margin-right: 15px;
}
.group-item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

.members .member-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.members img {
    margin-bottom: 5px;
}

.profile ul {
    margin-top: 30px;
}
.profile li {
    list-style: none;
    line-height: 1.9em;
}

.photos {
    margin: 0;
    padding: 0;
}
.photos li {
    list-style: none;
    float: left;
    margin: 5px;
    width: 23%;
}
.photos img {
    width: 100%;
}

footer {
    background: #f4f4f4;
    height: 90px;
    color: #04519b;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    margin-top: 30px;
    border-top: 7px solid #04519b;
}

@media(min-width: 991px) {
    .members p {
	padding-top: 40px;
    }
}

/*#search*/
/*{*/
/*    width:200px;*/
/*    margin:20px 0 0 10px;*/
/*    height:30px;*/
/*    border:1px solid #ccc;*/
/*    padding:0 0 0 5px;*/
/*}*/

