<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Users </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/profile_css/bootstrap.min.css}" href="../static/css/profile_css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/profile_css/style.css}" href="../static/css/profile_css/style.css" rel="stylesheet">

    <link th:href="@{/css/profile_css/font-awesome.min.css}" href="../static/css/profile_css/font-awesome.min.css"
          rel="stylesheet">

    <link th:href="@{/css/popup.css}" href="../static/css/popup.css" rel="stylesheet">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">

                <div class="col-md-10">
                    <h3>
                        <a href="/">Back To Homepage</a>
                    </h3>

                        <table class="table table-striped table-responsive-md">
                            <h3>Users</h3>
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="users">

                            </tbody>
                        </table>

                    <table class="table table-striped table-responsive-md">
                        <h3>Posts</h3>
                    <thead>
                    <tr>
                        <th>Post Id</th>
                        <th>User Id</th>
                        <th>Post Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="posts">

                    </tbody>
                </table>

                    <table class="table table-striped table-responsive-md">
                        <h3>Comments</h3>
                        <thead>
                        <tr>
                            <th>Comment Id</th>
                            <th>Post Id</th>
                            <th>User Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="comments">

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/profile_js/bootstrap.min.js}" src="../static/js/profile_js/bootstrap.min.js"></script>
<script th:src="@{/js/admin.js}" src="../static/js/admin.js"></script>
</body>

</html>