<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3 th:text="${post.getContent()}"></h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form th:object="${post}" method="post">
                    <div class="row">
                        <input type="hidden" name="_method" value="PUT">

                        <div class="form-group col-md-8">
                            <label for="content" class="col-form-label">Content</label>
                            <input type="text" th:field="*{content}" class="form-control"
                                   id="content" placeholder="Content" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="status" class="col-form-label">Status</label>
                            <input type="text" th:field="*{status}" class="form-control"
                                   id="status" placeholder="Status" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="postDate" class="col-form-label">PostDate</label>
                            <input type="text" th:field="*{postDate}" class="form-control"
                                   id="postDate" placeholder="PostDate" />
                        </div>

                        <!--                        <div class="form-group col-md-8">-->
                        <!--                            <label for="country" class="col-form-label">Email</label>-->
                        <!--                            <input type="text" th:field="*{userDetails.getCountry()}" class="form-control"-->
                        <!--                                   id="country" placeholder="Country" />-->
                        <!--                        </div>-->

                        <!--                        <div class="form-group col-md-8">-->
                        <!--                            <label for="city" class="col-form-label">Email</label>-->
                        <!--                            <input type="text" th:field="*{userDetails.getCity()}" class="form-control"-->
                        <!--                                   id="city" placeholder="City" />-->
                        <!--                        </div>-->

                        <!--                        <div class="form-group col-md-8">-->
                        <!--                            <label for="about" class="col-form-label">Email</label>-->
                        <!--                            <input type="text" th:field="*{userDetails.getAbout()}" class="form-control"-->
                        <!--                                   id="about" placeholder="About" />-->
                        <!--                        </div>-->


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
