<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3 th:text="${user.getUsername()}"></h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form th:object="${user}" method="post">
                    <div class="row">
                        <input type="hidden" name="_method" value="PUT">

                        <div class="form-group col-md-8">
                            <label for="firstName" class="col-form-label">First Name: </label>
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   id="firstName" placeholder="First Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   id="lastName" placeholder="Last Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{username}" class="form-control"
                                   id="email" placeholder="Email" />
                        </div>

<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="country" class="col-form-label">Email</label>-->
<!--                            <input type="text" th:field="*{userDetails.getCountry()}" class="form-control"-->
<!--                                   id="country" placeholder="Country" />-->
<!--                        </div>-->

<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="city" class="col-form-label">Email</label>-->
<!--                            <input type="text" th:field="*{userDetails.getCity()}" class="form-control"-->
<!--                                   id="city" placeholder="City" />-->
<!--                        </div>-->

<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="about" class="col-form-label">Email</label>-->
<!--                            <input type="text" th:field="*{userDetails.getAbout()}" class="form-control"-->
<!--                                   id="about" placeholder="About" />-->
<!--                        </div>-->


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
