<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form by Tooplate</title>
	<!--
    Template 2105 Input
	http://www.tooplate.com/view/2105-input
	-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" th:href="@{/css/login-register_css/bootstrap.min.css}" href="../static/css/login-register_css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login-register_css/materialize.min.css}" href="../static/css/login-register_css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/css/login-register_css/tooplate.css}" href="../static/css/login-register_css/tooplate.css">
</head>

<body id="login">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
                <p>
                    <i th:if="${param.error}" class="error">Wrong username or password.</i>
                </p>
                <form th:action="@{/authenticate}" method="post" class="tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Login</h3>
                    <div class="input-field">
                        <input placeholder="Enter your email address" id="username" name="username" type="email" class="validate">
                    </div>
                    <div class="input-field mb-5">
                        <input placeholder="Password" id="password" name="password" type="password" class="validate">
                    </div>
                    <div class="tm-flex-lr">
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <div id="container"></div>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-xl-6">
                <a href="/register" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Create New Account</a>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12 text-center">
                <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                    - <a rel="nofollow" href="http://www.tooplate.com/view/2105-input"> </a>
                    <a rel="nofollow" href="http://tooplate.com" class="tm-footer-link"></a>
                </p>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/login-register_js/materialize.min.js}" src="../static/js/login-register_js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>