<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Dobble Social Network : Profile</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/profile_css/bootstrap.min.css}" href="../static/css/profile_css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/profile_css/style.css}" href="../static/css/profile_css/style.css" rel="stylesheet">

    <link th:href="@{/css/profile_css/font-awesome.min.css}" href="../static/css/profile_css/font-awesome.min.css"
          rel="stylesheet">

    <link th:href="@{/css/popup.css}" href="../static/css/popup.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
          integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">



</head>

<body>
<header>
    <div class="container">
        <img th:src="@{/img/logo.png}" src="../static/img/logo.png" class="logo"/>
        <form class="form-inline">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="register"><span class="fas fa-user"></span>
                        Sign Up</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="login"><span
                            class="fas fa-sign-in-alt"></span> Login</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" href="/logout"><span class="fas fa-sign-in-alt"></span> Logout</a>
                </li>
            </ul>
        </form>
    </div>


</header>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/posts">Home</a></li>
                <li><a href="members">Members</a></li>
                <li class="active"><a href="profile">Profile</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="admin">Admin Panel</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="profile">
                    <span id="userId" style="display: none;" th:text="${user.getId()}"></span>
                    <h1 class="page-header"><span th:text="${user.getFirstName()}"></span> <span
                            th:text="${user.getLastName()}"></span></h1>
                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="'/img/' + ${user.userDetails.imagePath}" id="profile-picture"
                                 class="img-thumbnail"
                                 alt="example placeholder avatar">
                            <form action="" th:action="@{/user/upload}" method="post" enctype="multipart/form-data">
                                <input type="file" name="files" multiple>
                                <input type="submit" value="Upload Files">
                            </form>
                        </div><!-- col md 4 -->
                        <a href="#popup1"><i class="fas fa-edit" style="float: right; margin-right: 5%"></i></a>
                        <div class="col-md-8">
                            <ul>
                                <li><strong>First Name: </strong><span th:text="${user.getFirstName()}"></span></li>
                                <li><strong>Last Name: </strong><span th:text="${user.getLastName()}"></span></li>
                                <li><strong>Email: </strong> <span th:text="${user.getUsername()}"></span></li>
                                <li><strong>Sex: </strong><span th:text="${user.getGender()}">.</span></li>
                                <li><strong>City: </strong> <span th:text="${user.getUserDetails().getCity()}"></span>
                                </li>
                                <li><strong>Country: </strong><span
                                        th:text="${user.getUserDetails().getCountry()}"></span></li>
                                <li><strong>About: </strong><span th:text="${user.getUserDetails().getAbout()}"></span>
                                </li>
                            </ul>
                        </div> <!-- col md 8 -->

                    </div> <!-- row -->


                    <br/><br/>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Profile Wall</h3>
                                </div>
                                <div class="panel-body">
                                    <form id="post-form" name="post-form" onsubmit="return validatePostForm()" th:action="@{posts/?page=profile}" th:object="${post}" method="post">
                                        <div class="form-group">
                                            <textarea name="content" class="form-control"
                                                      placeholder="Write on the wall"></textarea>
                                        </div>
                                        <div class="form-group" style="float: right; display: inline-block">
                                            <div class="form-check">
                                                Make Post Private: <input name="status"
                                                                          class="form-check-input position-static"
                                                                          type="checkbox" id="blankCheckbox" value="1"
                                                                          aria-label="...">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div> <!-- panel body -->
                            </div> <!-- panel -->
                        </div> <!-- cold-md-12 -->
                    </div> <!-- row -->

                </div> <!-- profile div -->

                <div id="postObj"></div>


            </div> <!-- md 8 -->

            <!-- SIDEBAR -->
            <div class="col-md-4">
                <div class="panel panel-default friends">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <div id="friends">

                            </div>

                        </ul>
                        <div class="clearfix"></div> <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Friends</a>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->

            </div> <!-- md 4 -->

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Editorial Window</h2>
        <a id="close-pop" class="close" href="#">&times;</a>
        <div id="content">
            <div class="col-6 offset-3">
                <p>
                    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
                </p>

                <form action="" th:action="@{/user/{id}/edit (id=${user.id})}"
                      th:object="${user}" th:method="put">

                    <br>
                    <label th:text="#{first.header.name}">First name:</label>
                    <input type="text" th:field="*{firstName}"/>
                    <label style="color: red" th:errors="*{firstName}">First name error</label>

                    <br>
                    <label th:text="#{last.header.name}">Last name:</label>
                    <input type="text" th:field="*{lastName}"/>
                    <label style="color: red" th:errors="*{lastName}">Last name error</label>

                    <br>
                    <label th:text="#{city.header.name}">City:</label>
                    <input type="text" th:field="*{userDetails.city}"/>
                    <label style="color: red" th:errors="*{userDetails.city}">city error</label>
                    <br>
                    <label th:text="#{country.header.name}">Country:</label>
                    <input type="text" th:field="*{userDetails.country}"/>
                    <label style="color: red" th:errors="*{userDetails.country}">country error</label>

                    <br>
                    <label th:text="#{about.header.name}">About:</label>
                    <input type="text" th:field="*{userDetails.about}"/>
                    <label style="color: red" th:errors="*{userDetails.about}">about error</label>

                    <!--                <br/><br/>-->
                    <!--                <label>Beer picture:</label>-->
                    <!--                <input type="text" th:field="*{picture}"/>-->
                    <!--                <label style="color: red" th:errors="*{picture}">name error</label>-->
                    <br/><br/>

                    <input type="submit" value="Save"/>
                </form>
            </div>
            <div id="submit-edit-user"></div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p>Dobble Copyright &copy; 2015, All Rights Reserved</p>
    </div> <!-- container -->
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/profile_js/bootstrap.min.js}" src="../static/js/profile_js/bootstrap.min.js"></script>
<script th:src="@{/js/profile.js}" src="../static/js/profile.js"></script>
<script th:src="@{/js/functions.js}" src="../static/js/functions.js"></script>
</body>
</html>
