<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Dobble Social Network : Profile</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/profile_css/bootstrap.min.css}" href="../static/css/profile_css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/profile_css/style.css}" href="../static/css/profile_css/style.css" rel="stylesheet">

    <link th:href="@{/css/profile_css/font-awesome.min.css}" href="../static/css/profile_css/font-awesome.min.css"
          rel="stylesheet">

    <link th:href="@{/css/popup.css}" href="../static/css/popup.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
          integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

</head>

<body>
<header>
    <div class="container">
        <img th:src="@{/img/logo.png}" src="../static/img/logo.png" class="logo"/>
    </div>


</header>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/posts">Home</a></li>
                <li><a href="/members">Members</a></li>
                <li class="active"><a href="/profile">Profile</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="profile">
                    <span id="userId" style="display: none;" th:text="${user.getId()}"></span>
                    <h1 class="page-header"><span th:text="${user.getFirstName()}"></span> <span
                            th:text="${user.getLastName()}"></span></h1>
                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="'/img/'+${user.userDetails.imagePath}" src="../static/img/user.png"
                                 class="img-thumbnail"
                                 alt="example placeholder avatar">
                        </div><!-- col md 4 -->
                        <div class="col-md-8">
                            <ul>
                                <li><strong>Gender: </strong><span th:text="${user.getGender()}">.</span></li>
                                <li><strong>First Name: </strong><span th:text="${user.getFirstName()}"></span></li>
                                <li><strong>Last Name: </strong><span th:text="${user.getLastName()}"></span></li>
                                <li><strong>Email: </strong> <span th:text="${user.getUsername()}"></span></li>
                                <li><strong>City: </strong> <span th:text="${user.getUserDetails().getCity()}"></span></li>
                                <li><strong>Country: </strong><span th:text="${user.getUserDetails().getCountry()}"></span></li>
                                <li><strong>About: </strong><span th:text="${user.getUserDetails().getAbout()}"></span></li>
                            </ul>
                        </div> <!-- col md 8 -->

                    </div> <!-- row -->

                    <br/><br/>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Profile Wall</h3>
                                </div>

                                <div id="user-posts">


                                </div>

                            </div> <!-- panel -->
                        </div> <!-- cold-md-12 -->
                    </div> <!-- row -->

                </div> <!-- profile div -->

                <div id="postObj"></div>

            </div> <!-- md 8 -->

            <!-- SIDEBAR -->
            <div class="col-md-4">


            </div> <!-- md 4 -->

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<footer>
    <div class="container">
        <p>Dobble Copyright &copy; 2015, All Rights Reserved</p>
    </div> <!-- container -->
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/profile_js/bootstrap.min.js}" src="../static/js/profile_js/bootstrap.min.js"></script>
<script th:src="@{/js/functions.js}" src="../static/js/profile.js"></script>
<script th:src="@{/js/user-profile.js}" src="../static/js/profile.js"></script>
</body>
</html>
